<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Usuários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <style>
        body {
            background-image: url("https://efacilityca.r.worldssl.net/wp-content/uploads/2020/10/Library-Management-Landing-Banner.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }
        .table-container {
            max-height: 300px;
            overflow: auto;
        }
    </style>
</head>
<body>
<div class="container animate__animated animate__backInUp d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw;">
    <div class="content-container">
        <h1 class="my-4 text-center">Lista de Usuários</h1>
        <div class="text-center mb-3">
            <a href="/" class="btn btn-primary">Voltar ao Menu</a>
            <a href="/user/newUser" class="btn btn-success">Cadastrar Novo Usuário</a>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Login</th>
                    <th>Senha</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.idUser}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.cpf}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.password}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
